.idea/
*__pycache__/

data/
work_dirs/

submit/

pre_process/*.pkl
pre_process/*.json
pre_process/clean_illegal_img.py
pre_process/cnt_dataset_stats.py
pre_process/gen_my_cls_name.py
pre_process/docs.md

configs/
datasets/
models/

*.py
exp_logs.md